body {
    background-color: #d5e1ef;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
}

.card {
    width: 100%;
    max-width: 300px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    margin: auto;
    margin-top: 50px;

    img {
        max-width: 300px;
        border-radius: 15px;
        width: 100%;
    }

    h1 {
        font-weight: 700;
        font-size: 22px;
        color: hsl(218, 44%, 22%);
        text-align: center;
    }

    p {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #7f899f;
        font-weight: 700;

    }
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.attribution {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: hsl(220, 15%, 35%);
    padding: 12px 0 18px 0;
}